
 .body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.apptitle{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    text-align: center;
    font-size: 4rem;
}
.app{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
    background-image: linear-gradient(#459b94, #7ff4ac);
    color: white;
    text-shadow: 2px 2px 10px #0f3a20;
}
.forecast{
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin-top: 15px;

}
.input{
    margin-top: 0px;
    width: 90%;
    display: flex;
    justify-content: center;
    border: 3px solid #b6f1cd;
    background-color: #9ad1af;
    border-radius: 20px;
    height: 40px;
}
input{
    width: 80%;
    border: none;
    font-size: 20px;
    outline: none;
    background-color: #9ad1af;
    text-shadow: 2px 2px 5px #0f3a20;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;


}
.search-btn{
    background: none;
    border: none;
    
}
.fa-magnifying-glass{
    font-size: 23px;
    font-weight: 900;
    color: #f8f9f8;
    text-shadow: 2px 2px 5px #0f3a20;
}
.city-info{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    width: 75%;
    display: flex;
    justify-content: left;

    background-color: #33866a;
    border-radius: 20px;
    margin: 5px 0;
    padding: 0 10px;
    height: 60px;
    position: relative;
    
}
.city-info:hover{
    background-color: #33866a;
        box-shadow: solid 1px #9ad1af;
        cursor: pointer;
}
.currcity{
    font-size: 30px;
}
.city{
    margin-right: 5px;
    font-size: 20px;
}
.state{
    font-size: 15px;
}
.lat{
    font-size: 3px;
    position: absolute;
    bottom: 3px;
    left:20px;
    opacity: 0.7;
}
.lon{
    font-size: 3px;
    margin: 0 10px;
    position: absolute;
    bottom: 10px;
    right: 40px;
    opacity: 0.7;
}
.city-options{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.lat,
.lon{
    font-size: 10px;
}
.selected{
    background-color: red;
}
.current-weather{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.current-weather h1,
.current-weather h2{
    margin: 0;
}

.cels{
    font-size: 30px;
}
.img{
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;    
}
.img i{
    font-size: 100px;
    margin-bottom: 10px;
}
.img h1{
    margin-left: 35px;
}

.more-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;

}
.more-info div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin: 0 15px;

}
.txt-tag{
    font-size: 20px;
    font-weight: 900;
} 
.pop h2{

}
.tag{

    font-size: 12px;
}
.todaycity{
    font-weight: 900;
    text-align: center;
}

.time{

    font-size: 15px;
}
.temp{

    font-size: 50px;
    display: flex;
    align-items:flex-start;
    font-weight: 900;
}
span{
    font-size: 15px;
}
.temp-desc{

    font-size: 18px;
}
.feels-like h2{
    display: flex;
    align-items: flex-start;
}

.one-day{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    background-color: #5dad7c;
    margin: 5px 0;
    padding: 0 10px;
    margin-left: -10px;

}
input::placeholder{
    color: #f8f9f8;
}
.one-day:hover{
    cursor: pointer;
    background-color: #33866a;
    box-shadow: solid 1px #33866a;
}
.one-day h1{
    font-size: 20px;
}
.one-day h2 {
    font-size: 15px;
    letter-spacing: 1px;
}
.imp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.day-forecast {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#459b94, rgb(114, 220, 155));
        color: white;
        text-shadow: 2px 2px 10px #0f3a20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: -10px;
}
.hourly{
    font-size: 25px;
    width: 70%;
    text-align: left;
    position: relative;

    border:  solid 3px white;
    font-size: 1.3em;
    width: 85%;
    border-radius: 20px;
    height: 80px;
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.day{
    margin : 0;
}
.humidityy{
    position: absolute;
    right: 35px;
    font-size: 20px;
}
.fa-droplet{
    position: absolute;
    right: 10px;
    text-align: right;
}
.time{
    margin-right: 20px;
}
.day{
    margin-top: 20px;
    margin-bottom: -40px;
}
.date{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0;  
}
.fa-circle-arrow-left{
    position: absolute;
    left: 18px;
    top: 21px;
    font-size: 30px;
}
.weather{
    margin-left: 10px;
}
